// Primary Colours
$color-cyan: hsl(193, 38%, 86%);
$color-green: hsl(150, 100%, 66%);
// Neutral Colours
$color-gray-blue: hsl(217, 19%, 38%);
$color-dark-gray-blue: hsl(217, 19%, 24%);
$color-dark-blue: hsl(218, 23%, 16%);

// Font
$font-weight: 800;
$font-size: 28px;

// Icon
$icon-container-width: 60px;